<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Locais</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
        .local-card {
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 10px;
            margin-bottom: 10px;
            cursor: pointer;
            transition: all 0.3s ease;
        }
        .local-card:hover {
            background-color: #f5f5f5;
        }
        .local-card .btn {
            margin-top: 10px;
        }
        .selected {
            background-color: #d3d3d39d !important; 
        }
        #localList {
            max-height: 350px; /* Define a altura máxima */
            overflow-y: auto; /* Adiciona scroll vertical quando necessário */
        }
    </style>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <h1 class="text-center mb-4">Cadastro de Local</h1>
                <form id="cadastroForm" action="{{ url_for('local.cadastrar_local') }}" method="POST" autocomplete="off">
                    <div class="form-group">
                        <label for="nome_local">Local:</label>
                        <input type="text" class="form-control" id="nome_local" name="nome_local" required>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Cadastrar</button>
                    <a class="btn btn-danger mt-3" id="deleteLocalBtn">Excluir</a>
                </form>
            </div>
            <div class="col-md-6">
                <h1 class="text-center mb-4">Locais Cadastrados</h1>
                <div id="localList">
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
    <script>
function carregarLocais() {
    fetch('/listar_locais')
        .then(response => response.json())
        .then(data => {
            // Ordenar os locais por nome em ordem alfabética
            data.sort((a, b) => a.nome_local.localeCompare(b.nome_local));

            document.getElementById('localList').innerHTML = '';

            data.forEach(local => {
                const localCard = `
                    <div class="local-card" data-id="${local.id}">
                        <p>${local.nome_local}</p>
                    </div>
                `;
                document.getElementById('localList').innerHTML += localCard;
            });

            adicionarEventoClique();
        })
        .catch(error => console.error('Erro ao carregar locais:', error));
}

        function adicionarEventoClique() {
            var localList = document.getElementById('localList');
            var localCards = localList.getElementsByClassName('local-card');
            Array.from(localCards).forEach(function(localCard) {
                localCard.addEventListener('click', function() {
                    Array.from(localCards).forEach(function(card) {
                        card.classList.remove('selected');
                    });
                    this.classList.add('selected');
                });
            });
        }

        function excluirLocal() {
            var selectedLocal = document.querySelector('.local-card.selected');
            if (!selectedLocal) {
                Swal.fire({
                    icon: 'warning',
                    title: 'Nenhum local selecionado!',
                    text: 'Por favor, selecione um local para excluir.'
                });
                return;
            }

            var localId = selectedLocal.getAttribute('data-id');

            fetch('/excluir_local/' + localId, {
                method: 'DELETE'
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    carregarLocais();
                    Swal.fire({
                        icon: 'success',
                        title: 'Local excluído com sucesso!',
                        text: data.message
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Erro!',
                        text: data.message
                    });
                }
            })
            .catch(error => {
                console.error('Erro ao excluir local:', error);
                Swal.fire({
                    icon: 'error',
                    title: 'Erro!',
                    text: 'Ocorreu um erro ao excluir o local. Por favor, tente novamente mais tarde.'
                });
            });
        }

        window.addEventListener('load', function() {
            carregarLocais();
            document.getElementById('deleteLocalBtn').addEventListener('click', excluirLocal);
        });
    </script>
<script>
    // Intercepta o envio do formulário via AJAX
    document.getElementById('cadastroForm').addEventListener('submit', function(event) {
        event.preventDefault(); // Impede o envio padrão do formulário
        var form = this;
        var formData = new FormData(form); // Obtém os dados do formulário

        // Envia uma solicitação AJAX para cadastrar o local
        fetch(form.action, {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                // Se o cadastro for bem-sucedido, exibe um SweetAlert
                Swal.fire({
                    icon: 'success',
                    title: 'Local cadastrado com sucesso!',
                    text: data.message
                }).then(() => {
                    // Após fechar o alerta de sucesso, recarrega a lista de locais
                    carregarLocais();
                });
                // Limpa o formulário após o cadastro bem-sucedido
                form.reset();
            } else {
                // Se houver um erro, exibe uma mensagem de erro
                Swal.fire({
                    icon: 'error',
                    title: 'Erro!',
                    text: data.message
                });
            }
        })
        .catch(error => {
            console.error('Erro:', error);
            // Em caso de erro, exibe uma mensagem genérica de erro
            Swal.fire({
                icon: 'error',
                title: 'Erro!',
                text: 'Ocorreu um erro ao processar sua solicitação. Por favor, tente novamente mais tarde.'
            });
        });
    });
</script>
<script>
    // Função para tornar todos os inputs uppercase
    function tornarInputsUppercase() {
        var inputs = document.querySelectorAll('input');
        inputs.forEach(function(input) {
            input.addEventListener('input', function() {
                this.value = this.value.toUpperCase();
            });
        });
    }
    window.addEventListener('load', function() {
        tornarInputsUppercase();
    });
</script>
</body>
</html>
