<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UPA Norte - Devolver Item Perdido</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <style>
        @media print {
            .navbar, /* Oculta a barra de navegação */
            .btn { /* Oculta todos os botões */
                display: none !important;
            }
        }
    </style>
     {% include 'navbar.html' %}

    <div class="container mt-5">
        <h1 class="text-center mb-4">Termo de Devolução de Item</h1>
        <form id="devolucaoForm" action="{{ url_for('itens_perdidos.devolver', id=item_perdido.id) }}" method="POST" enctype="multipart/form-data" autocomplete="off">
            <div class="form-group">
                <label for="data_registro">Registrado no Sistema:</label>
                <input type="datetime-local" id="data_registro" value="{{ item_perdido.data_registro }}" name="data_registro" class="form-control" required disabled>
            </div>
            <div class="form-group">
                <label for="descricao">Descrição do Item:</label>
                <input type="text" id="descricao" name="descricao" class="form-control" required value="{{ item_perdido.descricao }}" disabled style="text-transform:uppercase"> 
            </div>
            <div class="form-group">
                <label for="local">Local:</label>
                <input type="text" id="local" name="local" class="form-control" required value="{{ item_perdido.local }}" disabled style="text-transform:uppercase">
            </div>
            <div class="form-group">
                <label for="categoria">Categoria do Item:</label>
                <input type="text" id="categoria" name="categoria" class="form-control" required value="{{ item_perdido.categoria }}" disabled style="text-transform:uppercase">
            </div>
            <div class="form-group">
                <label for="encontrado">Devolvido?</label>
                <input type="text" id="encontrado" name="encontrado" class="form-control" required value="{{ item_perdido.encontrado }}" style="text-transform:uppercase" disabled>
            </div>
            <div class="form-group text-center"> <!-- Adicionamos a classe text-center para centralizar todo o conteúdo do grupo de formulário -->
                <br>
                <img src="{{ url_for('servir_imagem', filename=item_perdido.imagem) }}" alt="Imagem do Item" class="img-thumbnail mx-auto" id="imagem" style="max-width: 200px; margin-top: 5px;">
            </div>
            <div class="form-group">
                <label for="entregador">Responsável pela Devolução:</label>
                <input type="text" id="entregador" name="entregador" class="form-control" required style="text-transform:uppercase" value="{{ item_perdido.entregador }}" {% if devolvido %}disabled{% endif %}>
            </div>
            <div class="form-group">
                <label for="recebedor">Nome do Recebedor:</label>
                <input type="text" id="recebedor" name="recebedor" class="form-control" required style="text-transform:uppercase" value="{{ item_perdido.recebedor }}" {% if devolvido %}disabled{% endif %}>
            </div>
            <div class="form-group">
                <label for="data_devolucao">Data de Devolução:</label>
                <input type="datetime-local" id="data_devolucao" name="data_devolucao" class="form-control" required value="{{ item_perdido.data_devolucao }}" {% if devolvido %}disabled{% endif %}>
            </div>
            <button type="submit" class="btn btn-primary mt-3" onclick="" {% if devolvido %}disabled{% endif %}>Registrar</button>
            <button type="button" class="btn btn-secondary mt-3" onclick="imprimirPagina()" {% if not devolvido %}disabled{% endif %}>Imprimir</button>
            <button type="button" class="btn btn-secondary mt-3" onclick="voltar()">Voltar</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
<script>
    // Função para mostrar o alerta do SweetAlert
    function mostrarAlerta() {
            // swal("Sucesso!", "Item perdido registrado com sucesso!", "success");
       
            Swal.fire({
        position: "center",
        icon: "success",
        title: "Item perdido registrado com sucesso!",
        showConfirmButton: false,
        timer: 2500
        });
        }
        // Captura o envio do formulário e exibe o alerta ao usuário
        document.getElementById("devolucaoForm").addEventListener("submit", function(event) {
            event.preventDefault(); // Impede o envio padrão do formulário
            mostrarAlerta(); // Exibe o alerta
            setTimeout(function() {
                document.getElementById("devolucaoForm").submit(); // Envie o formulário após um curto atraso
            }, 2000); // Atraso de 2 segundos (2000 milissegundos)
        });
</script>
    <script>
        function voltar() {
            window.location.href = "{{ url_for('itens_perdidos.listar_itens_perdidos') }}";
        }
    </script>
    <script>
            // Função para imprimir a página
        function imprimirPagina() {
        window.print();
        }
    </script>
</body>
</html>
