<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Item Perdido</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
        /* Personalize aqui, se necessário */
    </style>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container mt-5">
        <h1 class="text-center mb-4" style="color: #007bff">Registrar Item Perdido</h1>
        <form id="registrarForm" action="{{ url_for('itens_perdidos.registrar_item_perdido') }}" method="POST" enctype="multipart/form-data" autocomplete="off">
            <div class="form-group">
                <label for="data_registro">Data e Hora de Registro:</label>
                <input type="datetime-local" id="data_registro" name="data_registro" class="form-control" required readonly>
            </div>
            
            <script>
                // Obter a data e hora atual
                var today = new Date();
            
                // Formatar a data e hora no formato YYYY-MM-DDTHH:MM
                var formattedDateTime = today.getFullYear() + '-' + (today.getMonth() + 1).toString().padStart(2, '0') + '-' + today.getDate().toString().padStart(2, '0') +
                                        'T' + today.getHours().toString().padStart(2, '0') + ':' + today.getMinutes().toString().padStart(2, '0');
            
                // Definir a data e hora atual como o valor do campo de data e hora
                document.getElementById('data_registro').value = formattedDateTime;
            </script>
            

            <div class="form-group">
                <label for="descricao">Descrição:</label>
                <input type="text" id="descricao" name="descricao" class="form-control" required style="text-transform:uppercase" autofocus>
            </div>
            <div class="form-group">
                <label for="local">Local:</label>
                <select class="form-control" id="local" name="local" required>
                    <option value="">Selecione um local</option>
                    {% for local in locais|sort(attribute='nome_local') %}
                        <option value="{{ local.nome_local }}">{{ local.nome_local }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="categoria">Categoria:</label>
                <select class="form-control" id="categoria" name="categoria" required>
                    <option value="">Selecione a categoria</option>
                    {% for categoria in categorias|sort(attribute='nome_categoria') %}
                        <option value="{{ categoria.nome_categoria }}">{{ categoria.nome_categoria }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="encontrado">Devolvido para o responsável?</label>
                <!-- Campo de entrada oculto para armazenar o valor -->
                <input type="hidden" id="encontrado_hidden" name="encontrado" value="NÃO">
                <!-- Campo de seleção desabilitado visualmente -->
                <select id="encontrado" class="form-control" required disabled>
                    <option value="NÃO">NÃO</option>
                </select>
            </div>
            
            <script>
                // Atualizar o valor do campo oculto quando o formulário for enviado
                document.getElementById("cadastroForm").addEventListener("submit", function() {
                    document.getElementById("encontrado_hidden").value = "NÃO";
                });
            </script>
            <div class="form-group">
                <label for="imagem" class="form-label">Imagem:</label>
                <input type="file" id="imagem" name="imagem" class="form-control form-control-file" accept="image/*" required>
                <small class="form-text text-muted">Selecione uma imagem para fazer upload. Apenas arquivos de imagem são permitidos.</small>
            </div>
            <button type="submit" class="btn btn-primary mr-2">Registrar</button>
            <a href="{{ url_for('pacientes.index') }}" class="btn btn-secondary">Início</a>
        </form>
    </div>

    <script>
        // Função para mostrar o alerta do SweetAlert
        function mostrarAlerta() {
            // swal("Sucesso!", "Item perdido registrado com sucesso!", "success");
       
        Swal.fire({
        position: "center",
        icon: "success",
        title: "Item perdido registrado com sucesso!",
        showConfirmButton: false,
        timer: 2500
        });
        }
        // Captura o envio do formulário e exibe o alerta ao usuário
        document.getElementById("registrarForm").addEventListener("submit", function(event) {
            event.preventDefault(); // Impede o envio padrão do formulário
            mostrarAlerta(); // Exibe o alerta
            setTimeout(function() {
                document.getElementById("registrarForm").submit(); // Envie o formulário após um curto atraso
            }, 2000); // Atraso de 2 segundos (2000 milissegundos)
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
</body>
</html>
